In [2]:
#Import required libraries

import pandas as pd
import seaborn as sns
import re

In [ ]:
df = pd.read_csv('TWO_CENTURIES_OF_UM_RACES.csv')

In [ ]:
#See the data that has been imported
df.head(10)

In [ ]:
df.shape

In [ ]:
df.dtypes

In [ ]:
#Data cleaning Phase

In [ ]:
#Only want USA Races, 50k or 50mi, year 2020
#Step 1: show 50mi or 50k
#50km
#50mi

df[df['Event distance/length'] == '50mi']

In [ ]:
#Combine 50k/50mi with isin
df[df['Event distance/length'].isin(['50mi','50km'])]

In [6]:
df[(df['Event distance/length'].isin(['50mi','50km'])) & (df['Year of event'] == 2020)]

,Year of event,Event dates,Event name,Event distance/length,Event number of finishers,Athlete performance,Athlete club,Athlete country,Athlete year of birth,Athlete gender,Athlete age category,Athlete average speed,Athlete ID
2538571,2020,07.-09.02.2020,Taipei 48hr Ultra Marathon - 50mi (TPE),50mi,38,7:34:19 h,日本隊,JPN,1965.0,M,M50,10.627,53107
2538572,2020,07.-09.02.2020,Taipei 48hr Ultra Marathon - 50mi (TPE),50mi,38,7:43:50 h,NaN,AUS,1974.0,M,M45,10.409,8785
2538573,2020,07.-09.02.2020,Taipei 48hr Ultra Marathon - 50mi (TPE),50mi,38,8:04:40 h,NaN,TPE,1976.0,M,M40,9.962,4502
2538574,2020,07.-09.02.2020,Taipei 48hr Ultra Marathon - 50mi (TPE),50mi,38,8:30:49 h,台灣大腳ㄚ長跑協會,TPE,1969.0,F,W50,9.452,63964
2538575,2020,07.-09.02.2020,Taipei 48hr Ultra Marathon - 50mi (TPE),50mi,38,8:34:47 h,NaN,TPE,1964.0,M,M55,9.379,4485
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2762404,2020,03.10.2020,Bison Ultra-Trail 50 (POL),50km,271,7:36:25 h,AKS Polonia Warszawa,POL,1981.0,F,W35,6.573,860743
2762405,2020,03.10.2020,Bison Ultra-Trail 50 (POL),50km,271,7:36:27 h,*Warszawa,POL,1970.0,F,W45,6.572,860744
2762406,2020,03.10.2020,Bison Ultra-Trail 50 (POL),50km,271,7:44:18 h,Outdoor Training,POL,1993.0,F,W23,6.461,860745
2762407,2020,03.10.2020,Bison Ultra-Trail 50 (POL),50km,271,8:04:50 h,PH Bysewo Gdańsk,POL,1976.0,M,M40,6.188,798409
2762408,2020,03.10.2020,Bison Ultra-Trail 50 (POL),50km,271,8:11:43 h,*Nowe Aleksandrowo,POL,1961.0,M,M55,6.101,860746

In [ ]:
'''df[df['Event name'] == 'Everglades 50 Mile Ultra Run (USA)']['Event name'].str.split('(').str.get(1).str.split(')').str.get(0)'''

In [7]:
#Find all the events that took place in the USA
df[df['Event name'].str.split('(').str.get(1).str.split(')').str.get(0) == 'USA']

,Year of event,Event dates,Event name,Event distance/length,Event number of finishers,Athlete performance,Athlete club,Athlete country,Athlete year of birth,Athlete gender,Athlete age category,Athlete average speed,Athlete ID
55,2018,06.01.2018,Yankee Springs 50 Mile Winter Challenge (USA),50mi,9,9:53:05 h,"*Middleville, MI",USA,1983.0,M,M23,8.141,55
56,2018,06.01.2018,Yankee Springs 50 Mile Winter Challenge (USA),50mi,9,11:09:35 h,"*Waterloo, ON",CAN,1977.0,F,W40,7.211,56
57,2018,06.01.2018,Yankee Springs 50 Mile Winter Challenge (USA),50mi,9,11:33:00 h,"*Kitchener, ON",CAN,1976.0,M,M40,6.967,57
58,2018,06.01.2018,Yankee Springs 50 Mile Winter Challenge (USA),50mi,9,11:38:17 h,"*Utica, MI",USA,1986.0,M,M23,6.914,58
59,2018,06.01.2018,Yankee Springs 50 Mile Winter Challenge (USA),50mi,9,11:56:35 h,"*Grass Lake, MI",USA,1988.0,M,M23,6.738,59
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7461181,1995,07.01.1995,Avalon Benefit 50-Mile Run (USA),50mi,92,11:59:37 h,NaN,USA,1941.0,M,M50,6709.0,1045603
7461182,1995,07.01.1995,Avalon Benefit 50-Mile Run (USA),50mi,92,12:01:41 h,NaN,USA,1932.0,M,M60,6690.0,1070463
7461183,1995,07.01.1995,Avalon Benefit 50-Mile Run (USA),50mi,92,12:03:26 h,NaN,USA,1934.0,F,W60,6674.0,416139
7461184,1995,07.01.1995,Avalon Benefit 50-Mile Run (USA),50mi,92,12:03:26 h,NaN,USA,1951.0,F,W40,6674.0,1098098
7461185,1995,07.01.1995,Avalon Benefit 50-Mile Run (USA),50mi,92,12:05:59 h,NaN,USA,1947.0,F,W45,6650.0,1626367

In [19]:
'''countries_df = df['Event name'].str.split('(').str.get(1).str.split(')').str.get(0)'''

In [8]:
#Combine all the filters together for the USA
USA_df = df[(df['Event distance/length'].isin(['50mi','50km'])) & (df['Year of event'] == 2020) & (df['Event name'].str.split('(').str.get(1).str.split(')').str.get(0) == 'USA')]

In [9]:
USA_df

,Year of event,Event dates,Event name,Event distance/length,Event number of finishers,Athlete performance,Athlete club,Athlete country,Athlete year of birth,Athlete gender,Athlete age category,Athlete average speed,Athlete ID
2539945,2020,02.02.2020,West Seattle Beach Run - Winter Edition (USA),50km,20,3:17:55 h,"*Normandy Park, WA",USA,1991.0,M,M23,15.158,71287
2539946,2020,02.02.2020,West Seattle Beach Run - Winter Edition (USA),50km,20,4:02:32 h,"*Gold Bar, WA",USA,1981.0,M,M35,12.369,629508
2539947,2020,02.02.2020,West Seattle Beach Run - Winter Edition (USA),50km,20,4:07:57 h,"*Vashon, WA",USA,1999.0,M,MU23,12.099,64838
2539948,2020,02.02.2020,West Seattle Beach Run - Winter Edition (USA),50km,20,4:22:02 h,"*Gig Harbor, WA",USA,1983.0,M,M35,11.449,704450
2539949,2020,02.02.2020,West Seattle Beach Run - Winter Edition (USA),50km,20,4:27:34 h,"*Bainbridge Island, WA",USA,1977.0,M,M40,11.212,810281
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2760957,2020,03.10.2020,Yankee Springs Fall Trail Run Festival (USA),50km,30,7:07:48 h,"*East Lansing, MI",USA,1958.0,F,W60,7.013,816361
2760958,2020,03.10.2020,Yankee Springs Fall Trail Run Festival (USA),50km,30,7:27:22 h,"*Traverse City, MI",USA,1977.0,F,W40,6.706,326469
2760959,2020,03.10.2020,Yankee Springs Fall Trail Run Festival (USA),50km,30,7:27:24 h,"*Traverse City, MI",USA,1962.0,F,W55,6.705,372174
2760960,2020,03.10.2020,Yankee Springs Fall Trail Run Festival (USA),50km,30,7:38:30 h,"*Mason, MI",USA,1981.0,F,W35,6.543,860349
2760961,2020,03.10.2020,Yankee Springs Fall Trail Run Festival (USA),50km,30,7:59:53 h,NaN,USA,1980.0,M,M35,6.252,770097

In [ ]:
#Remove USA from event name
USA_df['Event name'] = USA_df['Event name'].str.split('(').str.get(0)

In [11]:
USA_df

,Year of event,Event dates,Event name,Event distance/length,Event number of finishers,Athlete performance,Athlete club,Athlete country,Athlete year of birth,Athlete gender,Athlete age category,Athlete average speed,Athlete ID
2539945,2020,02.02.2020,West Seattle Beach Run - Winter Edition,50km,20,3:17:55 h,"*Normandy Park, WA",USA,1991.0,M,M23,15.158,71287
2539946,2020,02.02.2020,West Seattle Beach Run - Winter Edition,50km,20,4:02:32 h,"*Gold Bar, WA",USA,1981.0,M,M35,12.369,629508
2539947,2020,02.02.2020,West Seattle Beach Run - Winter Edition,50km,20,4:07:57 h,"*Vashon, WA",USA,1999.0,M,MU23,12.099,64838
2539948,2020,02.02.2020,West Seattle Beach Run - Winter Edition,50km,20,4:22:02 h,"*Gig Harbor, WA",USA,1983.0,M,M35,11.449,704450
2539949,2020,02.02.2020,West Seattle Beach Run - Winter Edition,50km,20,4:27:34 h,"*Bainbridge Island, WA",USA,1977.0,M,M40,11.212,810281
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2760957,2020,03.10.2020,Yankee Springs Fall Trail Run Festival,50km,30,7:07:48 h,"*East Lansing, MI",USA,1958.0,F,W60,7.013,816361
2760958,2020,03.10.2020,Yankee Springs Fall Trail Run Festival,50km,30,7:27:22 h,"*Traverse City, MI",USA,1977.0,F,W40,6.706,326469
2760959,2020,03.10.2020,Yankee Springs Fall Trail Run Festival,50km,30,7:27:24 h,"*Traverse City, MI",USA,1962.0,F,W55,6.705,372174
2760960,2020,03.10.2020,Yankee Springs Fall Trail Run Festival,50km,30,7:38:30 h,"*Mason, MI",USA,1981.0,F,W35,6.543,860349
2760961,2020,03.10.2020,Yankee Springs Fall Trail Run Festival,50km,30,7:59:53 h,NaN,USA,1980.0,M,M35,6.252,770097

In [ ]:
#Clean up athlete age and give it a proper format (i.e 23)

In [ ]:
#Firstly, we should change float datatype to int to be able to do the calculations.
#As there are some null values in [athlete year of birth] column, we cannot change the datatype from float to integer. So, follow these steps:
USA_df['Athlete year of birth'] = USA_df['Athlete year of birth'].fillna(0)

In [ ]:
#In this step we can change the datatype using astype and save it to the current col.
USA_df['Athlete year of birth'] = USA_df['Athlete year of birth'].astype(int)

In [ ]:
#Now we can do the age calculations:
USA_df['Athlete age category'] = USA_df['Year of event'] - USA_df['Athlete year of birth'].astype(int)

In [15]:
#Finally, we rename Athlete age category col.
USA_df = USA_df.rename(columns={'Athlete age category':'Athlete age'})

In [ ]:
#Remove "h" from athlete performance

In [16]:
#Change the datatype to str
USA_df['Athlete performance'] = USA_df['Athlete performance'].str.split(' ').str.get(0)

In [17]:
#Drop redundant cols: Athlete club, Athlete year of birth
USA_df = USA_df.drop(['Athlete club', 'Athlete year of birth'], axis=1)

In [119]:
#Check and delete null values
#USA_df.isna()
USA_df = USA_df.dropna()

,Year of event,Event dates,Event name,Event distance/length,Event number of finishers,Athlete performance,Athlete country,Athlete gender,Athlete age,Athlete average speed,Athlete ID
2539945,False,False,False,False,False,False,False,False,False,False,False
2539946,False,False,False,False,False,False,False,False,False,False,False
2539947,False,False,False,False,False,False,False,False,False,False,False
2539948,False,False,False,False,False,False,False,False,False,False,False
2539949,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
2760957,False,False,False,False,False,False,False,False,False,False,False
2760958,False,False,False,False,False,False,False,False,False,False,False
2760959,False,False,False,False,False,False,False,False,False,False,False
2760960,False,False,False,False,False,False,False,False,False,False,False
2760961,False,False,False,False,False,False,False,False,False,False,False

In [126]:
#Check for duplicate values
USA_df[USA_df.duplicated() == True]

Empty DataFrame
Columns: [Year of event, Event dates, Event name, Event distance/length, Event number of finishers, Athlete performance, Athlete country, Athlete gender, Athlete age, Athlete average speed, Athlete ID]
Index: []

In [127]:
#Reset index
USA_df.reset_index(drop=True)

,Year of event,Event dates,Event name,Event distance/length,Event number of finishers,Athlete performance,Athlete country,Athlete gender,Athlete age,Athlete average speed,Athlete ID
0,2020,02.02.2020,West Seattle Beach Run - Winter Edition,50km,20,3:17:55,USA,M,29,15.158,71287
1,2020,02.02.2020,West Seattle Beach Run - Winter Edition,50km,20,4:02:32,USA,M,39,12.369,629508
2,2020,02.02.2020,West Seattle Beach Run - Winter Edition,50km,20,4:07:57,USA,M,21,12.099,64838
3,2020,02.02.2020,West Seattle Beach Run - Winter Edition,50km,20,4:22:02,USA,M,37,11.449,704450
4,2020,02.02.2020,West Seattle Beach Run - Winter Edition,50km,20,4:27:34,USA,M,43,11.212,810281
...,...,...,...,...,...,...,...,...,...,...,...
26085,2020,03.10.2020,Yankee Springs Fall Trail Run Festival,50km,30,7:07:48,USA,F,62,7.013,816361
26086,2020,03.10.2020,Yankee Springs Fall Trail Run Festival,50km,30,7:27:22,USA,F,43,6.706,326469
26087,2020,03.10.2020,Yankee Springs Fall Trail Run Festival,50km,30,7:27:24,USA,F,58,6.705,372174
26088,2020,03.10.2020,Yankee Springs Fall Trail Run Festival,50km,30,7:38:30,USA,F,39,6.543,860349
26089,2020,03.10.2020,Yankee Springs Fall Trail Run Festival,50km,30,7:59:53,USA,M,40,6.252,770097

In [ ]:
#Modify datatypes
USA_df['Athlete average speed'] = USA_df['Athlete average speed'].astype(float)

In [131]:
#Rename cols for USA dataset
USA_df = USA_df.rename(columns={'Year of event':'year',
                                'Event dates':'race_day',
                                'Event name':'race_name',
                               'Event distance/length':'race_length',
                               'Event number of finishers':'number_of_finishers',
                               'Athlete performance':'athlete_performance',
                               'Athlete country':'athlete_country',
                               'Athlete gender':'athlete_gender',
                               'Athlete age':'athlete_age',
                               'Athlete average speed':'athlete_average_speed',
                               'Athlete ID':'athlete_id'})

In [132]:
USA_df.head()

,year,race_day,race_name,race_length,number_of_finishers,athlete_performance,athlete_country,athlete_gender,athlete_age,athlete_average_speed,athlete_id
2539945,2020,02.02.2020,West Seattle Beach Run - Winter Edition,50km,20,3:17:55,USA,M,29,15.158,71287
2539946,2020,02.02.2020,West Seattle Beach Run - Winter Edition,50km,20,4:02:32,USA,M,39,12.369,629508
2539947,2020,02.02.2020,West Seattle Beach Run - Winter Edition,50km,20,4:07:57,USA,M,21,12.099,64838
2539948,2020,02.02.2020,West Seattle Beach Run - Winter Edition,50km,20,4:22:02,USA,M,37,11.449,704450
2539949,2020,02.02.2020,West Seattle Beach Run - Winter Edition,50km,20,4:27:34,USA,M,43,11.212,810281

In [135]:
#Reorder cols:
USA_df = USA_df[['athlete_id', 'athlete_gender', 'athlete_age', 'athlete_country',
                 'athlete_performance', 'athlete_average_speed', 'number_of_finishers', 'race_length',
                 'race_name', 'race_day', 'year']]

In [3]:
USA_df.head()

NameError: name 'USA_df' is not defined